<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
</head>
<body>
    <h2>Cadastro</h2>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>

        <label for="tipo_usuario">Tipo de Usuário:</label>
        <select name="tipo_usuario" id="tipo_usuario" required>
            <option value="ADM">ADM</option>
            <option value="USER">USER</option>
        </select>
        <br>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" required>
        <br>

        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem conta? <a href="{% url 'login' %}">Faça login</a></p>
</body>
</html>
