{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Criar Conta</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" required><br>

            <label for="tipo_usuario">Tipo de Usuário:</label>
            <select name="tipo_usuario" required>
                <option value="" disabled selected>Selecione</option>
                <option value="ADM">ADM</option>
                <option value="User">User</option>
            </select><br>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" required><br>

            <button type="submit">Registrar</button>
        </form>

        <p class="registro-link">Já tem uma conta? <a href="{% url 'login' %}">Fazer Login</a></p>
    </div>
</body>
</html>
